.container
    %h2 All Boards
    - @boards.each do |board|
        .card
            = link_to board_path(board) do
                .card_content
                    .card_title
                        = board.title
                    .card_text
                        = board.content
                    .card_detail
                        = image_tag board.user.avatar_image
            - if user_signed_in?
                .card_detail_actions
                    .dropdown
                        = image_tag 'actions.svg', class: 'dropbtn'
                        .dropdown_content.mini
                            = link_to '編集する',  edit_board_path(board)
                            = link_to '削除する',  board_path(board), data: { method: 'delete', confirm: '本当に削除してもいいですか？' }
    = link_to new_board_path do
        .add_new_board
            .add_new_board_title
                %p + Add new board
