<!DOCTYPE html>
<html>
  <head>
    <title>RailsTodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_title">
        <a href="root_path">Boards</a>
      </div>

      <div class="dropdown">
        <%= image_tag 'S.jpg', class: "header_avatar dropbtn" %>
        <div class="dropdown_content">
          <%= link_to"ログアウト", "root_path" %>
        </div>
      </div>
    </header>

    <%# deviseのflashメッセージ設定　%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
